/** EQUIPEMENT **/
#equipement {
    padding: 100px 0 75px;    
    background-size: cover;
    margin-bottom: 100px;
}
#equipement .liste {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    color: #fff;
    font-size: 17px;
}
#equipement .liste ul{
    width: 50%;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    list-style-type: none;
}
#equipement .liste ul li {
    color: #fff;
}
#equipement .liste ul li b {
    color: #002c2b;
}
@media only screen and (max-width: 937px) {
    #equipement .liste {
    display: block;
    }
    #equipement .liste ul{
    width: 100%;
    }
}


/** FORMULE **/

#formule_bulle {
    padding: 50px 0 130px 0;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}
#formule_bulle ul.formule_bulle {
    list-style: none;
    padding: 0;
    margin: 15px;
    border-radius: 20px;
    padding: 8px;
    text-align: center;
    background: #002c2b;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 30%;
}
#formule_bulle ul.formule_bulle li {
    display: block;
    padding: 10px;
}
#formule_bulle ul.formule_bulle li.plan-header { 
    padding: 15px 15px 30px;
    color: #3B8838 !important;
}
#formule_bulle ul.formule_bulle li.plan-header img {
    width: 50%;
}
#formule_bulle ul.formule_bulle li.plan-header .price-duration {
    position: relative;
    margin-top: 15px;
    top: -16px;
    display: inline-block;
    width: 100%;
    height: 85px; 
    color: #00a59d;  
}
li.plan-purchase .btn {
    width: 100%;
}
#formule_bulle ul.formule_bulle li.plan-header .price-duration > span {
    display: block;
    line-height: 1;
}
#formule_bulle ul.formule_bulle li.plan-header .price-duration > span.price {
    font-size: 24px;
    font-weight: 700;
    margin-top: 35px;
}
#formule_bulle ul.formule_bulle li.plan-header .price-duration > span.duration {
    margin-top: 5px;
}
#formule_bulle ul.formule_bulle li.plan-header .plan-name {
    margin-top: 15px;
    font-size: 25px;
    color: #00a59d;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
}
#formule_bulle ul.formule_bulle.featured {
    background: #98DC95; 
    border: 0;
    border: 1px solid #D0D0D0;
}
#formule_bulle ul.formule_bulle.featured  li.plan-header .price-duration{
  color: #3B8838;
}
#formule_bulle ul.formule_bulle.featured li.plan-header .plan-name {
    color: #3B8838;
}
#formule_bulle ul.formule_bulle li {
    color: #fff;
    font-size: 15px;
}
#formule_bulle ul.formule_bulle li b{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

/** RESPONSIVE FORMULE_spa **/

@media only screen and (max-width: 937px) {
    #formule_bulle ul.formule_bulle {
        width: 80%;
    }
}

.myButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
	box-shadow:inset 0px 0px 23px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:25px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}

/** PRESENTATION **/

#presentation {
    padding: 100px 0;
}
#presentation .text-one {
    display: block;
    text-align: center;
}
#presentation .text-two {
    display: block;
    text-align: center;
    padding-top: 15px;
}
#presentation .column-title {
    color: #00f3e9;
    font-size: 35px;
    font-weight: 525;
}
#presentation .column-title b {
    color: #18716e;
    font-weight: 550;
}
#presentation p {
    color: #fff;
    font-size: 20px;
}
#presentation p b {
    color: #00f3e9;
}

@media only screen and (max-width: 937px) {
    #presentation .column-title {
        font-size: 25px;
        font-weight: 425;
    }
    #presentation .column-title b {
        color: #18716e;
        font-weight: 550;
    }
    #presentation p {
        color: #fff;
        font-size: 15px;
    }
}