/** supplement **/

#supplement {
  padding: 100px 0 75px 0;    
  background-size: cover;
  margin-bottom: 100px;
}
#supplement .liste {
  color: #fff;
  font-size: 17px;
}
#supplement .liste ul{
  list-style-type: none;
}
#supplement .liste ul li {
  color: #fff;
}


  