/* Réinitialisation des styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styles pour le corps de la page */
body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

/* Styles pour l'en-tête de la page */
h1 {
  font-size: 3rem;
  text-align: center;
  margin: 2rem;
}

/* Styles pour le formulaire */
form {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 2rem;
}

/* Styles pour la liste de suppléments */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 1rem 0;
  font-size: 1.2rem;
}

/* Styles pour les cases à cocher */
input[type="checkbox"] {
  margin-right: 1rem;
  transform: scale(1.5);
}

/* Styles pour le bouton Ajouter au panier */
button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  margin-top: 2rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #444;
}

  