    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/profile.php?id=100089600894160"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                    <p>© Copyright 2023 Levray Rêve - Réalisation DUJARDIN Mathieu</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/page/<%= js %>"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script> 
    <script src="/js/mousescroll.js"></script>
    <script src="/js/smoothscroll.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/jquery.inview.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/custom-scripts.js"></script>
</body>
</html>