<%- include('header') %>
</head>

<body id="accueil">

<header id="header">
    <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="image/logo.jpg" alt="logo"></a>
            </div>
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="scroll active"><a href="#accueil">Accueil</a></li>
                    <li class="scroll"><a href="#presentation">Presentation</a></li>
                    <li class="scroll"><a href="#spa">Spa</a></li>
                    <li class="scroll"><a href="#portfolio">Galerie</a></li>
                    <li class="scroll"><a href="#formule">Formule</a></li>
                    <li class="scroll"><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section id="hero-banner">
    <div class="banner-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Bienvenue dans votre <b>RÊVE ...</b></h2>
                    <p>En solo, en duo ou entre amis , venez profiter d’un moment unique où vous serez chouchouter.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="presentation">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeInDown">Qui sommes nous ?</h2>
            <p class="wow fadeInDown">Chez Levray Rêve vous pourrez vous évader dans un endroit au charme exemplaire, niché au cœur de notre belle région des Hauts-De-France qui vous invite au voyage des îles paradisiaques pour un lâcher prise complet.</p>
        </div>  
        <div class="row">
            <div class="col-sm-6 wow fadeInLeft">
                <img class="img-responsive" src="image/presentation.jpg" alt="Spa et champagne">
            </div>
            <div class="col-sm-6 wow fadeInRight">
                <h3 class="column-title">Nos équipement</h3>
                <p>Profitez aussi de notre somptueux décor regroupant mur à bulles et plafond étoilé, le tout sur le thème des îles paradisiaques.</p>
                <p>Avec notre double douche vous pourrez également profiter d’un moment en amoureux qui restera inoubliable.</p>
                <p>Notre petit plus ? un lit King size très confortable et un fauteuil massant pour finir sur une touche de bonheur.</p>
            </div>
        </div>    
    </div>
</section>

<section id="spa">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeInDown">Notre spa</h2>
            <p class="wow fadeInDown">Notre luxueux spa 4 places  vous offre une qualité de massage qui devrait ravir les plus exigeant avec en tout 5 massages différents et pour chaque places des spécificités méticuleusement étudiées.</p>
        </div>
        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa-solid fa-spa"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">WATER WALL</h4>
                            <p>Profitez grâce à notre spa du massage water wall, un véritable mur de jets intense pour soulager les tensions de votre dos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa-solid fa-spa"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">HYDRO RELAX</h4>
                            <p>Confortablement installés , profitez du massage HYDRO RELAX dans un siège très enveloppant. Pour une profonde relaxation des lombaires et des trapèzes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa-solid fa-spa"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">LEG AQUA PALPING</h4>
                            <p>Pour le bas de votre corps, le LEG AQUA PALPING vous offrira un massage intense des mollets et des cuisses avec un mouvement de bas en haut.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa-solid fa-spa"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">AQUA REFLEX</h4>
                            <p>Profitez également d’une réflexologie plantaire intense  grâce aux jets AQUA REFLEX placés sous la plante de vos pieds.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa-solid fa-spa"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">AQUA PALPING</h4>
                            <p>Poursuivez votre parcours avec la place reine de notre spa l'aqua palping. Elle vous offre un massage intense des fessiers puis de votre dos grâce à ses 3 jets puissant exerçant un mouvement d'eau vertical provocant une sensation d'étirement.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa-solid fa-spa"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">LE PLUS</h4>
                            <p>Bénéficiez également du massage complet cou, nuque et épaules sur la quatrième place de notre spa en position allongé.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="formule">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeInDown">Nos formules et tarifs</h2>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                    <ul class="formule">
                        <li class="plan-header">
                            <div class="plan-name">
                                La formule Zenitude
                            </div>
                            <div class="price-duration">
                                <span class="price">
                                    70€
                                </span>
                                <span class="duration">
                                    pour 2 personnes
                                </span>
                            </div>
                        </li>
                        <li>2 heures de spa en semaine (du lundi au jeudi)</li>
                        <li>Cocktails</li>
                        <li>Peignoirs et serviettes à disposition</li>
                        <li>2 créneaux disponibles : <strong>12h</strong> ou <strong>15h</strong></li>
                        <li>Surprise offerte</li>
                        <li class="plan-purchace"><a class="btn btn-primary" href="/supplement/1">Réservez maintenant</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="200ms">
                    <ul class="formule">
                        <li class="plan-header">
                            <div class="plan-name">
                                La formule Délice
                            </div>
                            <div class="price-duration">
                                <span class="price">
                                    80€
                                </span>
                                <span class="duration">
                                    pour 2 personnes
                                </span>
                            </div>
                        </li>
                        <li>2 heures de spa en week-end (du vendredi au dimanche)</li>
                        <li>Cocktails</li>
                        <li>Peignoirs et serviettes à disposition</li>
                        <li>2 créneaux disponibles : <strong>12h</strong> ou <strong>15h</strong></li>
                        <li>Surprise offerte</li>
                        <li class="plan-purchace"><a class="btn btn-primary" href="/supplement/2">Réservez maintenant</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                    <ul class="formule">
                        <li class="plan-header">
                            <div class="plan-name">
                                La formule Gourmande
                            </div>
                            <div class="price-duration">
                                <span class="price">
                                    130€
                                </span>
                                <span class="duration">
                                    pour 2 personnes
                                </span>
                            </div>
                        </li>
                        <li>4 heures de spa (du lundi au dimanche)</li>
                        <li>Cocktails</li>
                        <li>Peignoirs et serviettes à disposition</li>
                        <li>1 créneaux disponibles : <strong>12h</strong> </li>
                        <li>Surprise offerte</li>
                        <li class="plan-purchace"><a class="btn btn-primary" href="/supplement/3">Réservez maintenant</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="400ms">
                    <ul class="formule">
                        <li class="plan-header">
                            <div class="plan-name">
                                La formule Relax
                            </div>
                            <div class="price-duration">
                                <span class="price">
                                    170€
                                </span>
                                <span class="duration">
                                    pour 2 personnes
                                </span>
                            </div>                                
                        </li>
                        <li>la nuité de <strong>18h</strong> à <strong>11h</strong> en semaine (du lundi au jeudi)</li>
                        <li>Cocktails</li>
                        <li>Peignoirs et serviettes à disposition</li>
                        <li>Petit déjeuner</li>
                        <li>Surprise offerte</li>
                        <li class="plan-purchace"><a class="btn btn-primary" href="/supplement/4">Réservez maintenant</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="600ms">
                    <ul class="formule">
                        <li class="plan-header">
                            <div class="plan-name">
                                La formule Détente
                            </div>
                            <div class="price-duration">
                                <span class="price">
                                    190€
                                </span>
                                <span class="duration">
                                    pour 2 personnes
                                </span>
                            </div>
                        </li>
                        <li>la nuité de <strong>18h</strong> à <strong>11h</strong> en week-end (du vendredi au dimanche)</li>
                        <li>Cocktails</li>
                        <li>Peignoirs et serviettes à disposition</li>
                        <li>Petit déjeuner</li>
                        <li>Surprise offerte</li>
                        <li class="plan-purchace"><a class="btn btn-primary" href="/supplement/5">Réservez maintenant</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonial-aera" id="testimonial">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeInDown">Avis</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="single-testimonial animate_fade_in" style="opacity: 1; right: 0px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <blockquote>Sontrary to popular belief, Lorem Ipsuis no simply random text. It has roots in a piece of classical Layears old. belief, Lorem Ipsuis not simply</blockquote>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9 half-gutter">
                            <h5>John Bond</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-testimonial animate_fade_in" style="opacity: 1; right: 0px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <blockquote>Tontrary to popular belief, Lorem Ipsuis no simply random text. It has roots in a piece of classical Layears old. belief, Lorem Ipsuis not simply</blockquote>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9 half-gutter">
                            <h5>John Bond</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-testimonial animate_fade_in" style="opacity: 1; right: 0px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <blockquote>Aontrary to popular belief, Lorem Ipsuis no simply random text. It has roots in a piece of classical Layears old. belief, Lorem Ipsuis not simply</blockquote>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-xs-9 half-gutter">
                            <h5>John Bond</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact-us">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeInDown">Nous conctactez</h2>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="container contact-info">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="contact-form">
                        <h3>Contact Info</h3>

                        <address>
                            <strong>Levray Rêve</strong><br>
                            10 rue d'Avranches<br>
                            Mazingarbe 62670<br>
                            Telephone : 06.07.01.76.89<br>
                            Facebook : Levray rêve
                        </address>
                </div></div>
                <div class="col-sm-8 col-md-8">
                    <div class="contact-form">
                
                        <form id="main-contact-form" name="contact-form" method="post" action="#">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="Nom" required>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="subject" class="form-control" placeholder="Sujet" required>
                            </div>
                            <div class="form-group">
                                <textarea name="message" class="form-control" rows="8" placeholder="Message" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Envoyez</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</section>

<%- include('footer') %>