<%- include('header') %>
<section id="supplement">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeInDown">Nos petit plus :</h2>
            <p class="wow fadeInDown">Nos petit plus sont preparé sur place par nos petites mains de chef.</p>
        </div>
        <div class="row">
            <div class="features">
                <p><%=panier[0]%></p>
                
            </div>
        </div>
        <!-- Début de widget de lien Calendly -->
        <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
        <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
        <a href="" onclick="Calendly.initPopupWidget({url: '<%=panier[0].description%>' });return false;">Choisir sa réservation</a>
        <!-- Fin de widget de lien Calendly -->
        
    </div>
</section>
<%- include('footer') %>