<%- include('header') %>

<div class="slide-container">
    <div class="custom-slider">
        <img class="slide-img" src="image/slide_spa/slide_one.jpg">
        <div class="slide-title">Notre Spa</div>
    </div>
    <div class="custom-slider">
        <img class="slide-img" src="image/slide_spa/slide_one.jpg">
        <div class="slide-title">Notre Spa</div>
    </div>
    <div class="custom-slider">
        <img class="slide-img" src="image/slide_spa/slide_one.jpg">
        <div class="slide-title">Notre Spa</div>
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<section id="spa">
    <div class="container">
        <div class="section-header">
            <p class="wow fadeInDown">Notre spa luxueux 4/6 places a été conçu pour offrir une qualité de massage exceptionnelle qui saura ravir les plus exigeants d'entre vous. Avec pas moins de cinq types de massages différents, chaque place a été étudiée avec la plus grande minutie pour offrir une expérience de relaxation sur mesure.</p>
        </div>
        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                    <div class="media service-box">
                        <div class="media-body">
                            <h4 class="media-heading">WATER WALL</h4>
                            <p>Découvrez notre spa et laissez-vous séduire par notre massage Water Wall, un véritable mur de jets puissants conçu pour soulager les tensions de votre dos en profondeur.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                    <div class="media service-box">
                        <div class="media-body">
                            <h4 class="media-heading">HYDRO RELAX</h4>
                            <p>Installez-vous confortablement et laissez-vous transporter par notre massage HYDRO RELAX, dispensé dans un siège enveloppant spécialement conçu pour une relaxation en profondeur des lombaires et des trapèzes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                    <div class="media service-box">
                        <div class="media-body">
                            <h4 class="media-heading">LEG AQUA PALPING</h4>
                            <p>Offrez à vos jambes une expérience de détente inoubliable avec notre massage LEG AQUA PALPING, conçu pour stimuler intensément vos mollets et vos cuisses avec des mouvements de bas en haut.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                    <div class="media service-box">
                        <div class="media-body">
                            <h4 class="media-heading">AQUA REFLEX</h4>
                            <p>Offrez à vos pieds une expérience de détente inoubliable avec notre massage AQUA REFLEX, conçu pour stimuler intensément vos zones réflexes plantaires grâce à des jets d'eau placés sous la plante de vos pieds.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                    <div class="media service-box">
                        <div class="media-body">
                            <h4 class="media-heading">AQUA PALPING</h4>
                            <p>Continuez votre expérience de détente avec notre attraction phare, l'AQUA PALPING, qui vous offre un massage intense des fessiers et du dos grâce à ses trois jets puissants exerçant un mouvement d'eau vertical pour une sensation d'étirement.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                    <div class="media service-box">
                        <div class="media-body">
                            <h4 class="media-heading">LE PLUS</h4>
                            <p>Profitez également de notre massage complet de la nuque, des épaules et du cou, disponible sur la quatrième place de notre spa, en position allongée.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="equipement">
    <div class="section-header">
        <h2 class="section-title wow fadeInDown">Nos équipements</h2>
    </div>
    <div class="liste">
        <ul id="list">
            <li><b>✓</b>  Lit King Size</li>
            <li><b>✓</b>  Coin cuisine</li>
            <li><b>✓</b>  Double douche à l'italienne</li>
            <li><b>✓</b>  Chaussons</li>
            <li><b>✓</b>  Gel douche / Shampoing</li>
            <li><b>✓</b>  Serviettes</li>
            <li><b>✓</b>  Linge de lit</li>
        </ul>
        <ul>
            <li><b>✓</b>  Peignoirs</li>
            <li><b>✓</b>  TV</li>
            <li><b>✓</b>  Chaîne Hi-Fi</li>
            <li><b>✓</b>  Wi-Fi</li>
            <li><b>✓</b>  Mini-bar</li>
            <li><b>✓</b>  Sèche-cheveux</li>
            <li><b>✓</b>  Fauteuil massant</li>
        </ul>
    </div>
</section>
<%- include('footer') %>