<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
</head>
<body>
    <h3>Bienvenue au paiment Levray Rêve</h3>
    <form action="payment" method="POST">
        <script src="//checkout.stripe.com/v2/checkout.js" class="stripe-button" 
        data-key="<%= key %>"
        data-amout="<%= process.env.TOTAL%>"
        data-currency="eur"
        data-name="Levray Rêve"
        data-description="Reservation"
        data-locale="auto">
        </script>
    </form>
</body>
</html>

  