<%- include('header')%>
  <link rel="stylesheet" href="/css/styles-supplement">
  </head>
  <body>
    <h1>Liste de suppléments</h1>
    <form action="/ajouter-au-panier" method="POST">
      <ul>
        <% supplement.forEach((supplement) => { %>
          <li>
            <input type="checkbox" name="supplements[]" value="<%= supplement.id %>">
            <%= supplement.nom %> - <%= supplement.prix %> €
          </li>
        <% }) %>
      </ul>
      <button type="submit">Ajouter au panier</button>
    </form>
    
  </body>
</html>

